{{ define "publicacao-com-permicao" }}
<div class="card p-3 mb-3 container-fluid col-10" data-publicacao-id="{{ .Id }}">
    <div class="card-body">
        <h5 class="card-title fs-3">{{.Titulo}}</h5>
        <p class="card-text">{{.Conteudo}}</p>
        <a href="#">{{.AutorNick}} - {{.CriadaEm.Format "02/01/2006"}}</a>
        <hr>
        <div class="d-flex justify-content-end">
            <div>
                <a href="publicacao/{{ .Id }}/editar" class="card-link"><i class="bi bi-pencil-square"></i> Editar</a>
                <a href="#" class="card-link"><i class="bi bi-trash3-fill"></i>Excluir</a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "publicacao-sem-permicao" }}

<div class="card p-3 mb-3 container-fluid col-10" data-publicacao-id="{{ .Id }}" >
    <div class="card-body">
        <h5 class="card-title fs-3">{{.Titulo}}</h5>
        <p class="card-text">{{.Conteudo}}</p>
        <a href="#">{{.AutorNick}} - {{.CriadaEm.Format "02/01/2006"}}</a>
        <hr>
        <div class="d-flex justify-content-end text-center"> 
            <div class="text-muted fs-6 d-flex">
                <div class="me-2"><i class="bi bi-hand-thumbs-up curtir-post"></i> {{.Curtidas}}</div>
                <div><i class="bi bi-hand-thumbs-down descurtir-post"></i></div>
            </div>
        </div>
    </div>
</div>

{{ end }}