<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/templetes.css">
    <title>DevBook</title>
</head>
<body style="background-color: #ccc;">
    <script>
        function goBack(){
            window.location = '/'
        }
    </script>
   <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="text-center shadow p-3 mb-5 bg-body rounded">
        <h1><strong>Page default of Erros</strong></h1>
        <p class="fs-5">Faça login novamente</p>
        <div class="d-flex justify-content-end">
            <button type="button" onclick="goBack()" class="btn btn-primary">Click aqui</button>
        </div>
    </div>
</div>
</body>
</html>