<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook</title>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
    <div class="container-cadastro">
        <div class="devbook-form2div">
            <form id="formulario-cadastro">
                <span>Realize seu cadastro agora em DevBook</span>
                <div class="container-cadastro-inputs">
                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" id="nome" placeholder="usuario" required>
                    </div>
                    <div>
                        <label for="nick">Nick:</label>
                        <input type="text" name="nick" id="nick" placeholder="usuario123" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="usuario@gmail.com" required>
                    </div>
                    <div>
                        <label for="senha">Senha:</label>
                        <input type="password" minlength="8" name="senha" id="senha" placeholder="*********" required>
                        <div>
                            <label for="senha">Confirmar Senha:</label>
                            <input type="text" minlength="8" name="ConfirmarSenha" id="ConfirmarSenha" placeholder="*********" required>
                        </div>
                    </div>
                    <div class="btn-conteiner btn-devbook-cadastro">
                        <button type="submit" class="btn-devbook">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Importe do da biblioteca Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>
</html>