<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body>
    <div class="container-login">
        <div class="devbook-form2div">
            <form id="login">
                <span>Seja bem vindo ao DevBook</span>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="usuario@gmail.com" required>
                </div>
                <div>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="*********" required>
                </div>
                <div class="btn-conteiner">
                    <a href="/criar-usuario">Click aqui e se Cadastre</a>
                    <button type="submit" class="btn-devbook">Login</button>
                </div>
            </form>
        </div>
    </div>
     <!-- Importe do da biblioteca Jquery -->
     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
     <script src="/assets/js/login.js"></script>
</body>

</html>