{{ template "header" . }}
<main>
    <div class="container-fluid col-12">
        <div class="row mt-4 col-12">
            <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="shadow p-3 mb-5 bg-body rounded" style="height: 665px;">
                    <input type="hidden" id="userID" value="{{ .Usuario.Id }}">
                    <form id="formulario-atualiza-cadastro">
                        <div class="col-10 position-relative" style="left: 50px;">
                            <div class="d-flex">
                                <div class="p-2 w-100">
                                    <span class="fs-5">Atualizar seus dados:</span>
                                </div>
                                <div class="p-2 flex-shrink-1">
                                    <div class="dropdown">
                                        <i class="bi bi-grip-vertical dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" id="deletar-perfil" href="">Deletar perfil.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control" name="nome" id="nome"
                                    placeholder="{{ .Usuario.Nome }}" required>
                            </div>
                            <div class="mb-2">
                                <label for="nick" class="form-label">Nick:</label>
                                <input type="text" class="form-control" name="nick" id="nick"
                                    placeholder="{{ .Usuario.Nick }}" required>
                            </div>
                            <div class="mb-2">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="{{ .Usuario.Email }}" required>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="formulario-atualizar-senha-cadastro">
                        <div class="col-10 position-relative" style="left: 50px;">
                            <span class="fs-5">Atualizar senha:</span>
                            <div class="mb-2">
                                <label for="Senha Atual" class="form-label">Senha Atual:</label>
                                <input type="password" class="form-control" name="atual" id="atual"
                                    placeholder="*********" required>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="mb-2 col-9">
                                    <label for="senha" class="form-label">Nova Senha:</label>
                                    <input type="password" class="form-control" minlength="8" name="senha" id="senha"
                                        placeholder="*********" required>
                                    <div class="mb-2">
                                        <label for="senha" class="form-label">Confirmar Senha:</label>
                                        <input type="password" class="form-control" minlength="8" name="ConfirmarSenha"
                                            id="ConfirmarSenha" placeholder="*********" required>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4 container-fluid">
                <div class="col-5 position-relative" style="left: 47.5%;">
                    <form class="d-flex" role="search" action="/buscar-publicacao" method="get">
                        <input class="form-control" type="search" placeholder="Buscar Publicacões" aria-label="Search"
                            id="publicacao" name="publicacao" required>
                    </form>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-body rounded w-100 d-flex justify-content-center overflow-auto"
                    style="height: 587px;">
                    <div class="col-12">
                        <div>
                            {{ range .Publicacoes }}
                                {{template "publicacao-com-permicao" .}}
                            {{ else }}
                            <div class="conteiner-fluid d-flex justify-content-center">
                                <div>
                                    <p class="fs-4 d-flex">
                                        <strong>Você ainda não fez nenhuma publicação</strong>
                                    <p>Crie uma Publicações para seus amigos verem : ) </p>
                                    </p>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/assets/js/perfilUser.js"></script>
{{ template "footer"}}