{{ template "header" . }}
<main>
    <div class="container-fluid">
        <div class="row mt-4 col-12">
            <div class=" col-xs-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
                <div class="shadow p-3 mb-5 bg-body rounded d-flex justify-content-center"
                    style="height: 590px;">
                    <div class="card col-9" style="height: 400px;">
                        <div class="card-body">
                            <h3 class="card-title">Perfil do Usuario: <strong>{{ .Usuario.Nome }}</strong></h3>
                            <div class="mt-3">
                                <h6 class="card-subtitle mb-2 text-muted">Informações publicas</h6>
                                <div class="mt-3 mb-2">
                                    <p class="card-text">O usuario <strong>{{ .Usuario.Nome }} </strong> faz
                                        parte da nossa plataforma desde {{.Usuario.CriacaoEM.Format "02/01/2006" }}</p>
                                </div>
                                <div class="mt-3 d-flex justify-content-end">
                                    <div class="d-flex justify-content-evenly col-8 fs-6">
                                        <p>Seguindo: {{ len .Usuario.Seguindo }}</p>
                                        <p>Seguindo: {{ len .Usuario.Seguidores }}</p>
                                        <button type="button" id="seguir-usuario" class="btn btn-primary">Seguir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-4 container-fluid">
                <div class="d-flex justify-content-center mb-3 ">
                    <h4 class="d-flex align-items-center text-primary">Publicações feitas pelo usuario {{ .Usuario.Nome }}</h4>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-body rounded w-100 d-flex justify-content-center overflow-auto" style="height: 587px;">
                    <div class="col-12">
                        {{ range .Usuario.Publicacoes }}
                            {{if (eq .AutorId $.Id)}}
                                {{template "publicacao-com-permicao" . }}
                            {{ else }}
                                {{template "publicacao-sem-permicao" . }}
                            {{ end }}
                        {{ else }}
                        <div class="conteiner-fluid d-flex justify-content-center">
                            <div>
                                <p class="fs-4 d-flex">
                                    <strong>Você ainda não fez nenhuma publicação</strong>
                                <p>Crie uma Publicações para seus amigos verem : ) </p>
                                </p>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ template "footer"}}